apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: isaaccerda/frontend-medical-record
    newName: isaaccerda/frontend-medical-record
    newTag: latest
